<!DOCTYPE html>
{% load static %}
<html lang="ja" data-theme="retro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/index.css' %}"></link>
    <title>Furm</title>
    {% block extrahead %}{% endblock %}
</head>
<body class="m-4">
    <header>
        <h1 class="text-8xl">Furm</h1>
    </header>

    <main class="m-4">
    {% block main %}{% endblock %}
    </main>

    {% block loadjs %}{% endblock %}
</body>
</html>