{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block main %}
<h3 class="text-4xl">部屋情報を設定する</h3>
<a class="my-2 text-lg flex" href="{% url 'move:top' %}">
    <img class="w-4 mx-2" src="{% static 'media/icons/double-left.png' %}">
    戻る
</a>
<p class="my-4 text-2xl">部屋の間取り情報を入力してください。</p>

<form method="post" id="settings_form" class="text-center">{% csrf_token %}
    <p class="my-4">
        <label class="text-xl">{{settings_form.width.label}}</label>
        {{settings_form.width|add_class:"w-48 h-8 text-2xl text-center"}}
        <span>m</span>
    </p>
    <p class="my-4">
        <label class="text-xl">{{settings_form.height.label}}</label>
        {{settings_form.height|add_class:"w-48 h-8 text-2xl text-center"}}
        <span>m</span>
    </p>
    <p class="my-4">
        <label class="text-xl">{{settings_form.mat_num.label}}</label>
        {{settings_form.mat_num|add_class:"w-48 h-8 text-2xl text-center"}}
        <span>畳</span>
    </p>
    <button class="btn w-48" type="submit" onclick="save_settings()">設定</button>
</form>
{% endblock %}

{% block loadjs %}
<script src="{% static 'js/save_settings.js' %}"></script>
{% endblock %}
